@import '../../../../assets/styles/partials/variables';
@import '../../../../assets/styles/mixins/mixins';

.section {
	padding: 3rem 1.5rem;
	background-color: $primary-white;
}

.card {
	margin: 2rem auto;
	background-color: $light-white;
	@media (min-width: 1000px) {
		width: 30vw;
		max-width: 25vw;
	}
	&__imgContainer {
		width: 100%;
	}
	&__img {
		width: 100%;
	}
	&__contentContainer {
		padding: 0.5rem 0.8rem;
		line-height: 1.7;
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		&__container {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 0.3rem;
			margin-block: 1rem;
		}
	}
	&__title {
		color: $secondary-yellow;
		font-weight: 600;
		font-size: 1.1rem;
	}
	&__text {
		font-weight: 400;
		line-height: 1.6;
	}
	&__button__download {
		padding: 0.8rem;
		margin-top: 1rem;
		box-shadow:
			rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
			rgb(209, 213, 219) 0px 0px 0px 1px inset;

		&:hover {
			background-color: $light-grey;
			transition: 0.3s 0.3s ease-in;
		}
	}
	&__buttonContainer {
		padding: 0.4rem 2rem 1rem 0.4rem;
		display: flex;
		justify-content: flex-end;
		gap: 0.5rem;
	}
	&__button {
		background-color: inherit;
		font-size: 1.4rem;
		padding: 0.6rem;
		&:hover {
			transform: scale(1.1);
			transition: 0.3s 0.3s ease-in;
		}
	}
	&__buttonLike {
		@extend .card__button;
		color: $text-grey;
		fill: red;
		&:hover {
			color: red;
		}
	}
	&__buttonLike__active {
		@extend .card__button;
		color: $primary-red;
		&:hover {
			color: red;
		}
	}
	&__buttonComment {
		@extend .card__button;
		color: $secondary-yellow;
		&:hover {
			color: $primary-yellow;
		}
	}
	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__text__light {
		color: #432e2e;
		font-weight: 300;
		display: block;
		width: 40%;
	}
}

.loaderContainer {
	@include loaderContainer;
	padding: 5rem;
}

.wrapper {
	margin: 2rem auto;
	@media (min-width: 1000px) {
		width: 30vw;
		max-width: 25vw;
	}
	&__title {
		color: $primary-purple;
		font-size: 1.4rem;
	}
}
