@use '../partials/variables';

@mixin button-styles($background, $text-color) {
	border: none;
	padding: 0.8rem;
	border-radius: 0.2rem;
	background-color: $background;
	color: $text-color;
	font-weight: bold;
	font-size: 1rem;
}

@mixin greenFormButton {
	display: block;
	margin: 1.2rem auto;
	width: 80%;
	font-size: 1rem;
	@include button-styles(#3aaa35, #fff);
	&:hover {
		background-color: #58d451;
		transition: background-color 0.4s ease-in;
	}
}

@mixin blueLink {
	color: variables.$secondary-blue;
	&:hover {
		color: variables.$medium-blue;
	}
}

@mixin input {
	display: block;
	padding: 0.8rem 0.7rem;
	font-size: 0.9rem;
	border-radius: 0.5rem;
	border: 1px solid #d3d3d3;
	margin-top: 0.5rem;
	width: 100%;

	&:focus {
		outline: none;
		box-shadow:
			rgba(17, 17, 26, 0.05) 0px 1px 0px,
			rgba(17, 17, 26, 0.1) 0px 0px 8px;
	}
}

@mixin transparentBackground {
	width: 100%;
	height: 100vh;
	z-index: 999;
	position: fixed;
	background-color: rgba(184, 178, 178, 70%);
	display: flex;
	justify-content: center;
}

@mixin popUpCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-width: 300px;
	border-radius: 15px;
	background-color: #fff;
	font-size: 0.8rem;
	margin: auto;
	padding: 2rem;
}

@mixin popUpCircle {
	background-color: #f5f8ff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-bottom: 1.5rem;
	padding: 0.5rem;
}

@mixin popUpTitle {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.4rem;
}

@mixin popUpButton($background, $backgroundHover) {
	margin-top: 1.2rem;
	width: 45%;
	padding: 0.6rem;
	background-color: $background;
	color: variables.$primary-white;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	&:hover {
		background-color: $backgroundHover;
		transform: scale(0.98);
		box-shadow: 0px 2.5px 8px rgba(0, 0, 0, 0.4);
		transition:
			transform 0.3s ease-in,
			background-color 0.3s ease-in-out,
			box-shadow 0.3s ease-in-out;
	}
}

@mixin loaderContainer {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}
