@use '../../../assets/styles/partials/variables';
@use '../../../assets/styles/mixins/mixins' as mixin;

.coverOpacity {
    @include mixin.transparentBackground;
}

.coverHidden{
    display: none; 
}

.card {
	@include mixin.popUpCard;

	&__circle {
        @include mixin.popUpCircle;
	}

	&__icon {
		width: 100%;
	}

    &__textBold{
       @include mixin.popUpTitle;
    }

    &__textLight{
        color: #A1A8B0;
    }

    &__button{
        @include mixin.popUpButton(variables.$secondary-red, variables.$primary-red);
    }
}
