@import '../../../assets/styles/partials/variables';

.card {
	width: 100%;
	display: flex;
	gap: 0.7rem;
	align-items: flex-start;

	&__img {
		width: 45%;
		max-width: 210px;
		border-radius: 0.4rem;
	}

	&__textBold {
		font-weight: 600;
		&:nth-child(2) {
			margin-bottom: 0.4rem;
		}
	}

	&__textLight {
		font-weight: 300;
		color: $text-grey;
	}

	&__textRegular{

	}

	&__hr {
		margin-bottom: 2rem;
		height: 2px;
		background-color: rgba($light-grey, 0.9);
		border: none;
	}
}

.button {
	margin-block: 1rem;
	font-size: 0.77rem;
	color: #fff;
	padding: 0.7rem 0.9rem;
	font-weight: 700;
	width: 25%;
	&:hover {
		transition: background-color 0.3s 0.3s ease-in;
	}
}

.buttonDeactivate {
	@extend .button;
	background-color: $secondary-red;
	&:hover {
		background-color: $primary-red;
	}
}

.buttonActivate {
	@extend .button;
	background-color: #0f6534;
    &:hover {
		background-color: #028239;
	}
}
