$primary-blue: #0A84F4;
$secondary-blue: #004D95;
$medium-blue: #219EBC;
$light-blue: #8ECAE6;
$primary-black: #000;
$secondary-black: #040F16;
$primary-white: #ffff;
$secondary-white: #f8f8f8;
$light-white: #fbfbff;
$medium-white: #F5f5f5;
$primary-grey: #D9D9D9;
$secondary-grey: #AAB0B2;
$text-grey: #928585;
$light-grey: #E5E5E5;
$primary-red: #B80C09;
$secondary-red: #BE221F;
$primary-yellow: #FFB703;
$secondary-yellow: #FB8500;
$primary-purple: #271231;