@use '../../../assets/styles/partials/variables';
@use '../../../assets/styles/mixins/_mixins' as mixin;

.main {
	background-color: variables.$secondary-white;
	padding-top: 3rem;
	height: 100vh;
	@media (min-width: 1400px) {
		padding-top: 0;
		display: flex;
		justify-content: center;
	}
}

.form {
	width: 80%;
	max-width: 380px;
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 2.5rem 1.5rem;
	gap: 1rem;
	@media (min-width: 700px) {
		border-radius: 0.4rem;
		background-color: #fff;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	}

	&__title {
		font-size: 1.5rem;
		margin-bottom: 1rem;
		@media (min-width: 700px) {
			text-align: center;
		}
	}

	&__input {
		@include mixin.input;
	}

	&__button {
		@include mixin.greenFormButton;
	}

	&__link {
		@include mixin.blueLink;
	}

	&__loader{
		@include mixin.loaderContainer;
	}
}
